# Contribution Guidelines

## Meta template
This project is based on one or more meta templates. Therefore, all basic adjustments should be made to that meta template. 
Changes that affect the flavour of this template should be made here.

The following meta templates have been used:
- [{{ project_name }}]({{ repository_url }})
